body {
  background-color: #ea829f;
}

header h1 {
  text-transform: uppercase;
  font-family: 'HelveticaNeueW01-Thin', 'Gotham 4r', Helvetica;
  color: white;
  font-size: 50px;
  text-align: center;
  font-weight: 400;
}

.music-player {
  width: 80%;
  display: table;
  margin: 20px auto;
  border: 5px solid grey;
}

#searchForArtist {
  display: flex;
  padding: 10px;
  justify-content: center;
}

#searchForArtist, ::placeholder, #showMe {
  font-family: 'Gotham 4r', Helvetica;
  font-size: 15px;
}

#searchForArtist {
  width: 30%;
  margin: 50px auto;
  border: 2px solid grey;
  border-radius: 50px;
  height: 35px;
  padding-left: 10px;
}

#showMe {
  display: inline-block;
  width: 15%;
  margin: auto 0;
  border: 2px;
  border-style: dotted;
  border-color: #b1f1eb;
  border-radius: 5px;
  height: 45px;
  position: relative;
  left: 540px;
}

.songInfo {
  font-family: 'HelveticaNeueW01-Thin', 'Gotham 4r', Helvetica;
  font-size: 20px;
  color: white;
}

.play-now {
  border: 2px;
  border-style: solid;
  border-color: #b1f1eb;
  border-radius: 5px;
  height: 30px;
  width: 70px;
  font-family: 'Gotham 4r', Helvetica;
  font-size: 13px;
}
